body {
    padding: 0;
    margin: 0;
    background: white;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/*--- navigation bar ---*/

.navbar {
    background: white;
    padding-top: 20px;
}

.navbar-title {
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
}

.nav-link {
    margin-right: 1em !important;
    color: black;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #5068A9;
}

.nav-link:active {
    color: #5068A9
}

.navbar-collapse {
    justify-content: flex-end;
}

/*--- bootstrap main ---*/

.img-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 8px;
    display: block;
}

@media screen and (max-width: 1200px) {
    .img-bg {
        height: 350px;
    }
}

.img-bg .bootstrap-photo-details {
    text-align: left;
    bottom: 20px;
    left: 25px;
    position: absolute;
}

.img-bg .bootstrap-photo-details h2, .img-bg .bootstrap-photo-details p {
    color: #ffffff;
    position: relative;
}

.img-bg .bootstrap-photo-details h2 {
    margin: 0;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    font-size: 1.5rem;
}

.img-bg .bootstrap-photo-details p {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.bootstrap-section {
    padding: 1em 0;
    position: relative;
    z-index: 2;
}

.bootstrap-gutter16>div[class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
}

@media screen and (max-width: 480px) {
    .bootstrap-gutter16>div[class*='col-'] {
        padding-right: 8px;
        padding-left: 8px;
    }
}
/*--- end bootstrap main ---*/

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutme {
    font-style: italic;
}

.material-icons {
    color: #5068A9;
}

.with_icon li>i, .with_icon li>span {
    list-style: none;
    display: table-cell;
    vertical-align: top;
    padding: 2px;
}
