*,
*:before,
*:after {
    box-sizing: inherit;
    align-items: center;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.wrapper {
    min-height: 80vh;
    position: relative;
    overflow: auto;
    margin: 3vh 0 0 0;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    background-color: white;
}

footer a {
    color: black;
}

a:hover {
    /* color: #627AA0; */
    color: teal;
    text-decoration: none;
}

/*--- NAV ---*/

.hamburger {
    font-size: 200px;
    color: black;
}

#secondNav {
    padding-top: 0;
    padding-bottom: 0px;
}

#secondNav.navbar-collapse {
    justify-content: center;
}

#nav-icons li {
    display: inline-block;
}

#nav-icons a {
    color: black;
    text-align: center;
}

@media (max-width: 767.99px) {
    #nav-icons {
        text-align: center;
        padding-top: 30px
    }
}

#navBar {
    padding-top: 30px;
    background: white;
    transition: 0.2s;
    padding-bottom: 2px;
}

.navbar-brand {
    color: black;
    /* background-color: black; */
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    /* text-decoration: underline; */
}

.navbar-brand:hover {
    color: teal;
}

#tagline {
    display: none;
    font-style: italic;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link {
    color: black;
    cursor: pointer;
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link:hover:focus {
    color: teal;
    cursor: pointer;
}

.nav-link.active {
    color: black;
    /* color: #627AA0; */
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* .floatingNav {
    width: 100vw;
    border-bottom: 2px;
    -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
} */

.dropdown-toggle:after {
    content: none
}

.dropdown-menu a:hover {
    background-color: #F8F9FA;
}

.dropdown-item.active {
    background-color: #F8F9FA;
    color: black;
}

@media (min-width: 320px) {
    .carousel-inner>.carousel-item>img {
        height: 100vh;
        object-fit: cover;
        object-position: 20% 100%;
    }
}

/*-- ABOUT --*/

.paragraph {
    margin-top: 10px;
    text-align: center;
}

#download {
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    align-items: center;
    text-align: center;
}

/*-- PHOTOS--*/

#imagegrid {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-count: 2;
    -moz-column-gap: 0;
    column-count: 2;
    column-gap: 0;
}

#imagegrid img {
    width: 100% !important;
    height: auto !important;
    padding: 10px;
}

#imagegrid h6 {
    font-style: 10px;
    margin-bottom: 20px;
    text-align: center;
}

@media (min-width: 320px) {
    #imagegrid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

@media (min-width: 768px) {
    #imagegrid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

@media (min-width: 1200px) {
    #imagegrid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

/*-- PHOTOS --*/

.collection-caption {
    color: black;
    cursor: pointer;
    /* font-size: 0.8rem; */
}

/*-- CONTACT --*/

#contactme {
    vertical-align: middle;
}

@media (min-width: 320px) {

    footer,
    #home,
    #contactme,
    #about {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

@media (min-width: 768px) {

    footer,
    #home,
    #contactme,
    #about {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

@media (min-width: 1200px) {
    nav {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (min-width: 1200px) {

    footer,
    #home,
    #contactme,
    #about {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}