html {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: white;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a:hover {
    color: #0C56B4;
}

a:active {
    color: #627AA0;
}

/*--- navigation bar ---*/

.navbar {
    background: white;
    margin: 2vh 2.2vw;
}

.navbar-title {
    color: black;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: "Abel", sans-serif;
    font-weight: 800;
}

.nav-link {
    color: black;
    cursor: pointer;
    font-family: "Inconsolata", monospace;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #0C56B4;
}

.nav-link:active {
    color: #627AA0;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*--- MOBILE MENU ---*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*--- bootstrap main ---*/

.bootstrap-section {
    margin: 2vh 2.2vw;
    padding: 0 16px 0 16px;
}

.img-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    display: block;
}

@media screen and (max-width: 1200px) {
    .img-bg {
        height: 350px;
    }
}

.photo-details {
    text-align: left;
    bottom: 1.0rem;
    left: 2.0rem;
    position: absolute;
    color: #ffffff;
}


/*--- end bootstrap main ---*/

.contact li {
    display: inline-block;
    text-align: center
}

.aboutme {
    font-style: italic;
}

/*--- footer ---*/

.footer {
    padding: 1em 0 0 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.footer .social li {
    list-style: none;
    display: inline-block;
}

.mySlides {
    display: none
}

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}